<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>
<form action="saveLoc" method="post">
    ID: <input type="text" name="id">
    Code: <input type="text" name="code">
    Name: <input type="text" name="name">
    Type: URBAN <input type="radio" name="type" value="URBAN">
    RURAL <input type="radio" name="type" value="RURAL">
    <input type="submit" value="save">
</form>
<span th:text="${msg != null} ? ${msg} : somevalue"/>
</body>
</html>