<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Location</title>
</head>
<body>
<form th:action="@{/saveUpdateLoc}" method="post">
    ID: <input type="text" name="id" th:value="${editingLocation.id}">
    Code: <input type="text" name="code" th:value="${editingLocation.code}">
    Name: <input type="text" name="name" th:value="${editingLocation.name}">
    Type: URBAN <input type="radio" name="type" value="URBAN">
    RURAL <input type="radio" name="type" value="RURAL">
    <input type="submit" value="save">
</form>
<span th:text="${msg != null} ? ${msg} : somevalue"/>
<br><br>

<a th:href="@{/viewLocations}">Add Location</a>

</body>
</html>